<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.movie.mapper.FavoriteMapper">	
	<!-- 좋아요 추가-->
	<insert id="addFav">
		insert into favorite_tbl(no,rno,userid) values(favorite_seq.nextval,#{rno},#{userid})		
	</insert>
	<delete id="deleteFav">
		delete from favorite_tbl where rno=#{rno} and userid=#{userid}
	</delete>
				
</mapper>