<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.movie.mapper.movieDetailReplyMapper">
	<!-- 전체 상세페이지 댓글 조회 -->
	<select id="detailReplyList" resultType="com.project.movie.dto.MovieDetailReplyDTO">
		select * from detailreply_tbl where title=#{title}
	</select>
	
	<!-- 상세페이지 댓글 추가 -->		
	<insert id="insert">
		insert into detailreply_tbl(title,rno,replyContent,userid,replydate,updatedate) 
		values(#{title},detailreply_seq.nextval,#{replyContent},#{userid},replydate=sysdate,updatedate=sysdate)
	</insert>
	
</mapper>