<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.movie.mapper.movieDetailReplyMapper">
	<select id="detailReplyList" resultType="com.project.movie.dto.MovieDetailReplyDTO">
		select * from detailreply_tbl where title=#{title}
	</select>
	
</mapper>