<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.movie.mapper.RegisterMapper">

	<insert id="insert">
		insert into moviemember_tbl(userid,password,email,address,name,mobile)
		values(#{userid},#{password},#{email},#{address},#{name},#{mobile})
	</insert>
	
</mapper>