<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.movie.mapper.RegisterMapper">


	<insert id="insert">
		insert into moviemember_tbl(userid,password,email,address,name,mobile)
		values(#{userid},#{password},#{email},#{address},#{name},#{mobile})
	</insert>
	
	<!-- 로그인  -->
	 <select id="getMemberByUserId" resultType="com.project.movie.domain.MemberDTO">
        SELECT * FROM moviemember_tbl WHERE userid = #{userid}
    </select>
    
    <!-- 유저정보 가져오기 -->
	<select id="getMemberByEmail" resultType="com.project.movie.domain.MemberDTO">
	    SELECT * FROM moviemember_tbl WHERE email = #{email}
	</select>
	
	<select id="getMemberByMobile" resultType="com.project.movie.domain.MemberDTO">
	    SELECT * FROM moviemember_tbl WHERE mobile = #{mobile}
	</select>
	
	<select id="getMemberByName" resultType="com.project.movie.domain.MemberDTO">
	    SELECT * FROM moviemember_tbl WHERE mobile = #{name}
	</select>
	
	<!-- 유저정보 변경 -->
	<update id="updateAddress" parameterType="com.project.movie.domain.MemberDTO">
	    UPDATE moviemember_tbl
	    SET address = #{address}
	    WHERE userid = #{userid}
	</update>

	<update id="updateMobile" parameterType="com.project.movie.domain.MemberDTO">
	    UPDATE moviemember_tbl
	    SET mobile = #{mobile}
	    WHERE userid = #{userid}
	</update>

	<update id="updatePassword" parameterType="com.project.movie.domain.MemberDTO">
	  UPDATE moviemember_tbl
	  SET password = #{password}
	  WHERE userid = #{userid}
	</update>
	
	<!-- 회원탈퇴 -->
	<delete id="deleteProfile" parameterType="com.project.movie.domain.MemberDTO">
	  DELETE FROM moviemember_tbl
	  WHERE userid = #{userid} AND password = #{password}
	</delete>

	
	
	
	
</mapper>