@charset "utf-8";
.findPassword__form h3 {
	color: #ffffff;
	font-weight: 700;
	font-family: "Oswald", sans-serif;
	margin-bottom: 30px;
}

.findPassword {
	padding-top: 130px;
	padding-bottom: 120px;
}

.findPassword__form {
	position: relative;
	padding-left: 145px;
}

.findPassword__form h3 {
	color: #ffffff;
	font-weight: 700;
	font-family: "Oswald", sans-serif;
	margin-bottom: 30px;
}

.findPassword__form form .input__item {
	position: relative;
	width: 370px;
	margin-bottom: 20px;
}

.findPassword__form form .input__item:before {
	position: absolute;
	left: 50px;
	top: 10px;
	height: 30px;
	width: 1px;
	background: #b7b7b7;
	content: "";
}

.findPassword__form form .input__item input {
	height: 50px;
	width: 100%;
	font-size: 15px;
	color: #b7b7b7;
	background: #ffffff;
	border: none;
	padding-left: 76px;
}

.findPassword__form form .input__item input::-webkit-input-placeholder {
	color: #b7b7b7;
}

.findPassword__form form .input__item input::-moz-placeholder {
	color: #b7b7b7;
}

.findPassword__form form .input__item input:-ms-input-placeholder {
	color: #b7b7b7;
}

.findPassword__form form .input__item input::-ms-input-placeholder {
	color: #b7b7b7;
}

.findPassword__form form .input__item input::placeholder {
	color: #b7b7b7;
}

.findPassword__form form .input__item span {
	color: #b7b7b7;
	font-size: 20px;
	position: absolute;
	left: 15px;
	top: 13px;
}

.findPassword__form form button {
	border-radius: 0;
	margin-top: 10px;
}

.findPassword__form .forget_pass {
	font-size: 15px;
	color: #ffffff;
	display: inline-block;
	position: absolute;
	right: 60px;
	bottom: 12px;
}

.ChangePass {
	padding-top: 130px;
	padding-bottom: 120px;
}

.ChangePass__form {
	position: relative;
	padding-left: 145px;
}

.ChangePass__form h3 {
	color: #ffffff;
	font-weight: 700;
	font-family: "Oswald", sans-serif;
	margin-bottom: 30px;
}

.ChangePass__form form .input__item {
	position: relative;
	width: 370px;
	margin-bottom: 20px;
}

.ChangePass__form form .input__item:before {
	position: absolute;
	left: 50px;
	top: 10px;
	height: 30px;
	width: 1px;
	background: #b7b7b7;
	content: "";
}

.ChangePass__form form .input__item input {
	height: 50px;
	width: 100%;
	font-size: 15px;
	color: #b7b7b7;
	background: #ffffff;
	border: none;
	padding-left: 76px;
}

.ChangePass__form form .input__item input::-webkit-input-placeholder {
	color: #b7b7b7;
}

.ChangePass__form form .input__item input::-moz-placeholder {
	color: #b7b7b7;
}

.ChangePass__form form .input__item input:-ms-input-placeholder {
	color: #b7b7b7;
}

.ChangePass__form form .input__item input::-ms-input-placeholder {
	color: #b7b7b7;
}

.ChangePass__form form .input__item input::placeholder {
	color: #b7b7b7;
}

.ChangePass__form form .input__item span {
	color: #b7b7b7;
	font-size: 20px;
	position: absolute;
	left: 15px;
	top: 13px;
}

.ChangePass__form form button {
	border-radius: 0;
	margin-top: 10px;
}

.ChangePass__form .forget_pass {
	font-size: 15px;
	color: #ffffff;
	display: inline-block;
	position: absolute;
	right: 60px;
	bottom: 12px;
}

.notification {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
}

.success {
    background-color: #dff0d8;
    color: #3c763d;
}

.error {
    background-color: #f2dede;
    color: #a94442;
}