@charset "utf-8";

.my-page {
  display: flex;
  justify-content: space-between;
}

.profile {
  width: 50%;
  padding: 20px;
  background-color: #0b0c2a;
  display: flex;
  justify-content: flex-end;
}

.profile-image {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 50%;
  /* 프로필 사진 스타일링 */
}

.profile-info {
  margin-top: 20px;
  margin-left: 20px;
}

.user-id {
  font-weight: bold;
}

.userinfo {
  font-weight: bold;
  color: #ffffff;
}

.edit-info {
  width: 50%;
  padding: 20px;
  background-color: #0b0c2a;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  color: #fff;
}

.row_item {
  display: flex;
  align-items: center;
}

input[type="email"],
input[type="tel"],
input[type="text"] {
  width: 30%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.btn_edit,
.btn_save,
.btn_edit2,
.btn_save2,
.btn_change,
.btn_unregister {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  white-space: nowrap; /* 글씨가 한 줄로 표시되도록 설정 */
}

.btn_change,
.btn_unregister {
  background-color: #ff9800; /* 구독하기와 다른 색상으로 설정 */
}

.text {
  color: #fff;
}

.buttons {
  display: flex;
  flex-direction: column; /* 버튼을 세로로 정렬하기 위해 설정 */
  margin-left: 20px;
}

.buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px; /* 버튼 사이의 간격을 설정 */
}

.btn_subscribe {
  background-color: #ff9800;
}

.btn_popup-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
}

.buttons button:hover {
  background-color: #ffa726;
}

.buttons .text {
  margin-right: 10px;
}

.kakaopay-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 5px;
}

.user-id {
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px; /* 사용자 아이디의 아래 여백을 추가 */
}
