<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.movie.mapper.BoardMapper">


	<select id="getBoardList" parameterType="com.project.movie.dto.BoardDTO" resultType="com.project.movie.dto.BoardDTO">
		SELECT bno, title, content, attach, regdate, updateddate, re_ref, re_lev, re_seq, cnt, userid FROM movieboard_tbl
	</select>

</mapper>
